.extend {
  display: flex;
  justify-content: space-between;
}
.flex {
  display: flex;
  align-items: center;
  /* display: inline; */
}
.flex_col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  background: white;
}
header {
  background: mediumpurple;
}
a {
  text-decoration: none;
  color: black;
}
a#user {
  background: white;
}
div.post {
  position: relative;
  left: 15%;
  width: 70%;
  border: thin solid
}
div#logo {
  /* max-width: 30em; */
  display: inline-flex;
}
div#login {
  position: relative;
  /* right: 1em;
  background: white; */
}
p {
  position: relative;
  left: 1em;
}
p.post {
  border: thin solid;
  width: 95%
}
span.author {
  position: relative;
  left: 1em;
}
span.post_del_span {
  position: relative;
  right: 2em;
}
button {
  margin: 0.5em;
}
button.raw {
  margin: 0;
}
button.stack {
  margin: 0.2em;
}
form {
  margin: 0;
}
input#page {
  width: 2em;
}