{% extends "base.html" %}
  
{% block body %}
<header class=extend>
  <div class="flex" id="logo">
    <a href="/"><img src="/static/logo.png"></a>
    <a href="/"><h1>{% block h1 %}我们的留言板{% endblock %}</h1></a>
  </div>

  <span class=flex>
    <div class="flex" id="login">
    {% if not session.get('uid') and not session.get('admin') %}
      <button onclick="location.href='/login'">登录</button>
      <button onclick="location.href='/signup'">注册</button>
    {% else %}
      {% if session.get('admin') %}
        <a id=user href="/admin">欢迎你，管理员&nbsp;</a>
      {% else %}
        <a id=user href="/user/{{ session.get('uid') }}">欢迎你，{{ session.get('username') }}！</a>
      {% endif %}

      {% block user_actions %}
        <button onclick="location.href='/post/new'">新留言</button>
      {% endblock %}
      
      <button onclick="location.href='/logout'">登出</button>
    {% endif %}
    </div>
  </span>
</header>

<br>
<nav class=flex_col>
  {% block navigation %}
  <div>
    共&nbsp;{{ session.get('total').__str__() }}&nbsp;条记录&nbsp;
    第&nbsp;{{ session.get('page').__str__() }}&nbsp;页&nbsp;
    {% block pager %}
      <button class=raw onclick="location.href='/?page={{ (session.get('page')-1).__str__() }}'">上页</button>
      <button class=raw onclick="location.href='/?page={{ (session.get('page')+1).__str__() }}'">下页</button>
    {% endblock %}
    <form method=get action=/ style="display: inline">
      至第&nbsp;<input id=page name=page value=1>&nbsp;页
      <input type="submit" value="跳转">
    </form>
  </div>
  {% endblock %}
</nav>

<br>
{% for post in posts %}
<div class=post>
  <p><b>{{ post.title }}</b></p>
  <p>{{ post.text }}</p>
  <p class=extend>
    <span class=author>{{ post.username }} 发表于 {{ post.date.split('.')[0] }}</span>
    {% block post_delete scoped %}<span hidden>{{ post.post_id }}</span>{% endblock %}
  </p>
</div>
<br>
{% endfor %}

<footer class=flex_col>
  {{ self.navigation() }}
</footer>

{% endblock %}